@model LUSSIS.Models.DTOs.POCreateDTO
@{
    ViewBag.Title = "Select PO Item";
}

<section class="content-header">
    <h1>
        Select Purchase Order Items
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box" style="height:550px; overflow-y:scroll; overflow-x:hidden;">
                <div class="box-header">
                    <div class="col-md-6 box-tools pull-right" style="position: relative;">
                        @Html.ActionLink("Select Supplier", "SelectSupplier", null, new { @class = "btn btn-success pull-right", @role = "button" })
                    </div>
                </div>
                <div class="box-body">
                    <table id="table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="5%">Stationery Code</th>
                                <th width="15%">Description</th>
                                <th width="5%">Available Qty</th>
                                <th width="5%">Waitlist Qty</th>
                                <th width="10%">Order Qty</th>
                                <th width="10%">Reorder Level</th>
                                <th width="10%">Recommended Reorder Qty</th>
                                <th width="10%">Select</th>
                            </tr>
                        </thead>
                        <tbody id="partial">
                            @Html.Partial("Catalogue_Partial")
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script>
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue'
        });

        $('.minimal').on('ifChecked', function (event) {
            var aa = $(this).attr('id');
            if ($(this).attr('id') != 'showConfirmed') {
                var stationeryId = $(this).attr('id');
                document.getElementById("txtQty" + stationeryId).disabled = true;
                var updatedQty = document.getElementById("txtQty" + stationeryId).value;
                updateSelectList(stationeryId, updatedQty, true, false);
            }
            else {
                updateSelectList(0, 0, false, true);
            }
        });

        $('.minimal').on('ifUnchecked', function (event) {
            if ($(this).attr('id') != 'showConfirmed') {
                var stationeryId = $(this).attr('id');
                document.getElementById("txtQty" + stationeryId).disabled = false;
                var updatedQty = document.getElementById("txtQty" + stationeryId).value;
                updateSelectList(stationeryId, updatedQty, false, false);
            }
            else {
                updateSelectList(0, 0, false, false);
            }
        });

        function updateSelectList(stationeryId, qty, selectOrNot, selectAllSelected) {
            var data = JSON.stringify({
                'stationeryId': stationeryId,
                'qty': qty,
                'selectOrNot': selectOrNot,
                'selectAllSelected': selectAllSelected
            });

            $.ajax({
                type: "POST",
                url: "/PurchaseOrder/updateSelectList",
                async: true,
                data: data,
                contentType: 'application/json',
                success: function (data) {
                    if (data == false) {
                        window.location.href = '/Login/Index';
                    }
                    else if (data != true) {
                        $("#partial").html(data);
                    }
                }
            });
        }

        $(function () {
            $('#table').DataTable({
                'columnDefs': [
                    { 'orderable': false, 'targets': 7 }
                ],
                'paging': false,
                'lengthChange': false,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
    </script>
}