
@{
    ViewBag.Title = "StationeryRequisitionTrend";
}

<section class="content-header">
    <h1>
        Stationery Requisition Trend
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-tools pull-right" style="position: relative;">
                        <a class="btn btn-success right" href="#" role="button">Download Report</a>
                    </div>
                </div>
                <div class="box-body">
                </div>
            </div>
        </div>
    </div>
</section>

