
@{
    ViewBag.Title = "Detail";
}

<section class="content-header">
    <h1>
        Supplier Details
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <table class="table">
                        <tr>
                            <td>Supplier Code</td>
                            <td> : ALPHA</td>
                            <td width="200"></td>
                            <td>GST Registration No</td>
                            <td> : MR-8500440-2</td>
                        </tr>
                        <tr>
                            <td>Supplier Name</td>
                            <td> : ALPHA Office Supplies</td>
                        </tr>
                        <tr>
                            <td>Contact Name</td>
                            <td> : Ms Irene Tan</td>
                        </tr>
                        <tr>
                            <td>Phone No</td>
                            <td> : 4619928</td>
                        </tr>
                        <tr>
                            <td>Fax No</td>
                            <td> : 4612238</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td colspan="4">Blk 1128, Ang Mo Kio Industrial Park #02-1108 Ang Mo Kio Street 62 Singapore 622262</td>
                        </tr>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button class="btn btn-danger pull-right" style="margin-left: 20px;">Delete</button>
                    <button class="btn btn-warning pull-right">Update</button>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

