
@{
    ViewBag.Title = "Update";
}

<section class="content-header">
    <h1>
        Manage Supplier
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Supplier Code</label>
                                <input type="text" class="form-control" id="inputEmail3" value="ALPHA">
                            </div>
                        </div>
                        <!-- select box -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Supplier Name</label>
                                <input type="text" class="form-control" id="inputEmail3" value="ALPHA Office Supplies">
                            </div>
                        </div>
                    </div>
                    <!-- END CURRENCY box -->

                    <div class="row">
                        <!-- PRICE box -->

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Contact Name</label>
                                <input type="text" class="form-control" id="inputEmail3" value="Ms Irene Tan">
                            </div>
                        </div>

                        <!-- QUANTITY box -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Phone No</label>
                                <input type="text" class="form-control" id="inputEmail3" value="4619928">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- CURRENCY box -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Fax No</label>
                                <input type="text" class="form-control" id="inputEmail3" value="4612238">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>GST Registration No</label>
                                <input type="text" class="form-control" id="inputEmail3" value="MR-8500440-2">
                            </div>
                        </div>
                        <!-- END CURRENCY box -->
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Address</label>
                                <textarea class="form-control" rows="3">Blk 34, Clementi Road #07-02 Ban Ban Soh Building Singapore 110525</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button class="btn btn-warning pull-right">Update</button>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

