
@{
    ViewBag.Title = "Detail";
}

<section class="content-header">
    <h1>
        Adjustment Voucher Details
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <table>
                        <tr>
                            <td>Adjustment Voucher ID</td>
                            <td>: ADJ0011</td>
                            <td width="600"></td>
                            <td>Clerk Name</td>
                            <td>: Johnny</td>
                        </tr>
                        <tr>
                            <td>Voucher Date</td>
                            <td>: 09/12/2019</td>
                        </tr>
                        <tr>
                            <td>Voucher Status</td>
                            <td class="text-blue">: Pending</td>
                        </tr>
                        <tr></tr>
                    </table>
                    <br /><br />
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <!--VLR001-->
                            <tr>
                                <th style="width: 100px;">Item Number</th>
                                <th style="width: 100px;">Category</th>
                                <th style="width: 250px;">Description</th>
                                <th style="width: 130px;">Unit of Measure</th>
                                <th style="width: 100px;">Adjusted Qty</th>
                                <th>Reason</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>P100</td>
                                <td>Scissors</td>
                                <td>Scissor</td>
                                <td>Each</td>
                                <td>-5</td>
                                <td>Because of...</td>
                            </tr>
                            <tr>
                                <td>P037</td>
                                <td>Pen</td>
                                <td>Pen Transparency Soluble</td>
                                <td>Packet</td>
                                <td>-15</td>
                                <td>Because of...</td>
                            </tr>
                            <tr>
                                <td>P038</td>
                                <td>Pen</td>
                                <td>Pen Whiteboard Marker Black</td>
                                <td>Box</td>
                                <td>-10</td>
                                <td>Because of...</td>
                            </tr>
                            <tr>
                                <td>P039</td>
                                <td>Pen</td>
                                <td>Pen Whiteboard Marker Blue</td>
                                <td>Box</td>
                                <td>-10</td>
                                <td>Because of...</td>
                            </tr>
                            <tr>
                                <td>P002</td>
                                <td>Ruler</td>
                                <td>Ruler 12'</td>
                                <td>Dozen</td>
                                <td>-6</td>
                                <td>Because of...</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->

                <!-- If Supervisor -->
                <div class="box-footer">
                    <button class="btn btn-success pull-right">Acknowledge</button>
                </div>
                <!-- If Supervisor -->

            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>