
@{
    ViewBag.Title = "Detail";
}

<section class="content-header">
    <h1>
        Catalogue Details
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <table>
                        <tr>
                            <td style="width: 250px;">Item Number</td>
                            <td>: P0002</td>
                        </tr>
                        <tr>
                            <td>Category</td>
                            <td>: Ruler</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>: Ruler 12'</td>
                        </tr>
                        <tr>
                            <td>Recomm Reorder Level</td>
                            <td>: 20</td>
                        </tr>
                        <tr>
                            <td>Reorder Quantity</td>
                            <td>: 30</td>
                        </tr>
                        <tr>
                            <td>Unit of Measurement</td>
                            <td>: Dozen</td>
                        </tr>
                    </table>
                    <br />
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Supplier Order</th>
                                <th>Supplier Name</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Supplier 1</td>
                                <td>ALPHA Office Supplies</td>
                                <td>$1.50</td>
                            </tr>
                            <tr>
                                <td>Supplier 2</td>
                                <td>Cheap Stationer</td>
                                <td>$1.60</td>
                            </tr>
                            <tr>
                                <td>Supplier 3</td>
                                <td>BANES Shop</td>
                                <td>$1.70</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button class="btn btn-danger pull-right" style="margin-left: 20px;">Delete</button>
                    <button class="btn btn-warning pull-right">Update</button>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>