
@{
    ViewBag.Title = "Detail";
}

<section class="content-header">
    <h1>
        Disbursement Details
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <table>
                                <tr>
                                    <td>Disbursement ID</td>
                                    <td>: DD005</td>
                                </tr>
                                <tr>
                                    <td>Collection Date</td>
                                    <td>: 20/11/2019</td>
                                </tr>
                                <tr>
                                    <td>Collection Point</td>
                                    <td>: Medical School (11:00am)</td>
                                </tr>
                                <tr>
                                    <td>Collection Status</td>
                                    <td>: <span class="text-blue">Pending Collection</span></td>
                                </tr>
                            </table>
                        </div>

                        <!-- If Clerk -->
                        <div class="col-md-6">
                            <table>
                                <tr>
                                    <td>Dept Name</td>
                                    <td>: Department of Registrar</td>
                                </tr>
                                <tr>
                                    <td>Dept Code</td>
                                    <td>: DDS</td>
                                </tr>
                                <tr>
                                    <td>Dept Representative</td>
                                    <td>: Steve</td>
                                </tr>
                                <tr>
                                    <td>Contact No.</td>
                                    <td>: 68711907</td>
                                </tr>
                            </table>
                        </div>
                        <!-- If Clerk -->
                    </div>
                    <br /><br />
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <!-- If Clerk -->
                                <th>Item Number</th>
                                <th>Category</th>
                                <!-- If Clerk -->
                                <th>Item Name</th>
                                <th>Unit of Measure</th>
                                <th>Requested Qty</th>
                                <th>Disbursed Qty</th>

                                <!-- If Dept Representative -->
                                <th>Action</th>
                                <!-- If Dept Representative -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <!-- If Clerk -->
                                <td>P100</td>
                                <td>Scissors</td>
                                <!-- If Clerk -->

                                <td>Scissor</td>
                                <td>Each</td>
                                <td>5</td>
                                <td>5</td>

                                <!-- If Dept Representative -->
                                <td style="width: 20px;">
                                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                        View Detail <i class="fa fa-chevron-up"></i>
                                    </button>
                                </td>
                                <!-- If Dept Representative -->

                            </tr>

                            <!-- If Dept Representative -->
                            <tr>
                                <td colspan="4" style="padding: 0;">
                                    <div class="collapse" id="collapseExample">
                                        <table id="example2" class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Requisition Form</th>
                                                    <th>Requested Date</th>
                                                    <th>Employee Name</th>
                                                    <th>Requested Qty</th>
                                                    <th>Disbursed Qty</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>DDS/11/99</td>
                                                    <td>20/08/2019</td>
                                                    <td>David</td>
                                                    <td>10</td>
                                                    <td>10</td>
                                                </tr>
                                                <tr>
                                                    <td>DDS/130/12</td>
                                                    <td>21/08/2019</td>
                                                    <td>Arial</td>
                                                    <td>5</td>
                                                    <td>4</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <!-- If Dept Representative -->
                            <tr>
                                <!-- If Clerk -->
                                <td>P037</td>
                                <td>Pen</td>
                                <!-- If Clerk -->

                                <td>Pen Transparency Soluble</td>
                                <td>Packet</td>
                                <td>15</td>
                                <td>14</td>

                                <!-- If Dept Representative -->
                                <td style="width: 20px;">
                                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                        View Detail <i class="fa fa-chevron-up"></i>
                                    </button>
                                </td>
                                <!-- If Dept Representative -->

                            </tr>

                            <!-- If Dept Representative -->
                            <tr>
                                <td colspan="4" style="padding: 0;">
                                    <div class="collapse" id="collapseExample">
                                        <table id="example2" class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Requisition Form</th>
                                                    <th>Requested Date</th>
                                                    <th>Employee Name</th>
                                                    <th>Requested Qty</th>
                                                    <th>Disbursed Qty</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>DDS/11/99</td>
                                                    <td>20/08/2019</td>
                                                    <td>David</td>
                                                    <td>10</td>
                                                    <td>10</td>
                                                </tr>
                                                <tr>
                                                    <td>DDS/130/12</td>
                                                    <td>21/08/2019</td>
                                                    <td>Arial</td>
                                                    <td>5</td>
                                                    <td>4</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <!-- If Dept Representative -->
                            <tr>
                                <!-- If Clerk -->
                                <td>P002</td>
                                <td>Ruler</td>
                                <!-- If Clerk -->

                                <td>Ruler 12'</td>
                                <td>Dozen</td>
                                <td>30</td>
                                <td>30</td>

                                <!-- If Dept Representative -->
                                <td style="width: 20px;">
                                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                        View Detail <i class="fa fa-chevron-up"></i>
                                    </button>
                                </td>
                                <!-- If Dept Representative -->

                            </tr>

                            <!-- If Dept Representative -->
                            <tr>
                                <td colspan="4" style="padding: 0;">
                                    <div class="collapse" id="collapseExample">
                                        <table id="example2" class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Requisition Form</th>
                                                    <th>Requested Date</th>
                                                    <th>Employee Name</th>
                                                    <th>Requested Qty</th>
                                                    <th>Disbursed Qty</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>DDS/11/99</td>
                                                    <td>20/08/2019</td>
                                                    <td>David</td>
                                                    <td>10</td>
                                                    <td>10</td>
                                                </tr>
                                                <tr>
                                                    <td>DDS/130/12</td>
                                                    <td>21/08/2019</td>
                                                    <td>Arial</td>
                                                    <td>5</td>
                                                    <td>4</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <!-- If Dept Representative -->
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>